
@font-face {
	font-family: 'UniversLTStd-Cn';
	src: url('UniversLTStd-Cn.eot?') format('eot'), 
	     url('UniversLTStd-Cn.otf')  format('opentype'),
	     url('UniversLTStd-Cn.woff') format('woff'), 
	     url('UniversLTStd-Cn.ttf')  format('truetype'),
	     url('UniversLTStd-Cn.svg#UniversLTStd-Cn') format('svg');
}
