{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang='{{ LANGUAGE_CODE }}'>
<head>
    <meta charset='UTF-8'/>
    <meta name='Author' content='{% block author %}{% endblock %}'/>
    <meta name='Description' content='{% block description %}{% endblock %}'/>
    <meta name='Keywords' content='{% block keywords %}{% endblock %}'/>
    <meta name='viewport' content='width=device-width, user-scalable=no'/>
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/base.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/third-party.css' />
</head>
<body>
    <header>
        {% include 'main/base/header.html' %}
    </header>
    <div id='page'>
        <section id='main'>
            <div class='content'>
                {% block main_content %}
                {% endblock %}
            </div>
        </section>
        <section id='secondary'>
            <div class='content'>
            {% block secondary_content %}
            {% endblock %}
            </div>
        </section>
        {% if welcome_message %}
        <div id='welcome_message' style='display: none;'>
            {% include 'main/other/welcome_message.html' %}
        </div>
        {% endif %}
    </div>
    {% if not user.is_authenticated %}
    <div id='fade'>
        {% load account %}
        {% load url from future %}
        <h3 class='sign_in'>{% trans "Utiliza tu cuenta de..." %}</h3>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "account/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
    {% endif %}
    <footer>
        {% include 'main/base/footer.html' %}
    </footer>
</body>
</html>
