{% load i18n %}
<ul>
    <li>
        <a class='footer_link' href='{% url "legal_notice" %}'>{% trans "Aviso legal" %}</a>
    </li>
    <li>
        <a class='footer_link' href='{% url "privacy" %}'>{% trans "Protección de datos" %}</a>
    </li>
    <li>
        <a class='footer_link' href='{% url "about" %}'>
           {% blocktrans %}Sobre nosotros{% endblocktrans %}
        </a>
    </li>
</ul>
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery-2.1.0.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/rhinoslider-1.05.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.slicknav.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.popupoverlay.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/spin.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/main.js'></script>
