{% extends 'main/base/base.html' %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "TEST" %}{% endblock %}


{% block main_content %}
<h2 class='title_grey'>{% trans "Confirmar e-mail" %}</h2>
<hr>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
        
<p><h5>{% blocktrans with confirmation.email_address.email as email %}Confirma que <a href="mailto:{{email}}">{{ email }}</a> es la dirección de correo del usuario {{ user_display }}.{% endblocktrans %}</h5></p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p><h5>{% blocktrans %}Este enlace de confirmación de e-mail ha caducado o no es válido. Por favor, <a href="{{ email_url}}">solicita un nuevo enlace de confirmación</a>.{% endblocktrans %}</h5></p>

{% endif %}

{% endblock %}
