{% extends "main/base/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "TEST - Cuenta" %}{% endblock %}

{% block main_content %}
    <h2 class='title_grey'>{% trans "E-mail" %}</h2>
    <hr>
{% if user.emailaddress_set.all %}
<p><h5>{% trans 'Las siguientes direcciones de correo electrónico están asociadas a tu cuenta:' %}</h5></p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input class="input_radio" id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Confirmado" %}</span>
    {% else %}
    <span class="unverified">{% trans "No confirmado" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Principal" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction" type="submit" name="action_primary" >{% trans 'Marcar como principal' %}</button>
      <button class="secondaryAction" type="submit" name="action_send" >{% trans 'Reenviar verificación' %}</button>
      <button class="primaryAction" type="submit" name="action_remove" >{% trans 'Eliminar' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "Actualmente no tienes ninguna dirección de e-mail asociada a tu cuenta. Es necesario que añadas una dirección para continuar." %}</p>

{% endif %}


    <h5 style='margin-top: 5vh; margin-bottom: -2vh;'>{% trans "Añadir correo electrónico" %}</h5>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p}}
        <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

{% endblock %}

{% block secondary_content %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Confirma que quieres eliminar la dirección de email seleccionada' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
