{% extends 'main/base/base.html' %}
{% load i18n %}

{% block author %}TEST{% endblock %}
{% block description %}TEST{% endblock %}
{% block keywords %}TEST{% endblock %}
{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    <h2 class='title_grey'>{% trans "Protección de datos" %}</h2>
    <hr>
    <h2 class='left'>
    {% trans "Bla, bla, bla" %}
    </h2>
{% endblock %}
