{% load socialaccount %}

{% for provider in socialaccount.providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
    <a title="{{brand.name}}" 
        class="socialaccount_provider {{provider.id}} {{brand.id}}" 
        href="{% provider_login_url provider.id openid=brand.openid_url process=process next=request.path %}">
        <div class='{{ provider.name|lower }}_login_button'>
            <img class='{{ provider.name|lower }}_login_img' alt='{{ brand.name }}' src='{{ STATIC_URL }}img/logos/{{ brand.name }}.png'/>
        </div>
    </a>
</li>
{% endfor %}
{% endif %}
<li>
    <a title="{{provider.name}}" class="socialaccount_provider" 
        href="{% provider_login_url provider.id process=process next=request.path %}">
        <div id='{{ provider.name|lower }}_login_button'>
            <img class='{{ provider.name|lower }}_login_img' alt='{{ provider.name }}' src='{{ STATIC_URL }}img/logos/{{ provider.name }}.png'/>
        </div>
    </a>
</li>
{% endfor %}
