{% extends "main/base/base.html" %}
{% load url from future %}

{% load i18n %}

{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    <h2 class='title_grey'>{% trans "Regístrate" %}</h2>
    <hr>

<p><h5>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Vas a registrarte en {{ site_name }} con tu cuenta de {{provider_name}}. Como último paso, completa el siguiente formulario:{% endblocktrans %}</h5></p>

<div class='form_wrapper'>
    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Regístrate" %} &raquo;</button>
    </form>
</div>

{% endblock %}
