{% extends 'main/base/base.html' %}
{% load i18n %}

{% block author %}TEST{% endblock %}
{% block description %}TEST{% endblock %}
{% block keywords %}TEST{% endblock %}
{% block title %}{% trans "TEST" %}{% endblock %}

{% block main_content %}
    <ul id='slider'>
        {% for slide in slides %}
        <li>
            <h3 class='slide_txt {{ slide.text_h_position }} {{ slide.text_v_position }} {{ slide.text_color }}'>
                {% blocktrans with slide.text|linebreaksbr as slide_text %}{{ slide_text }}{% endblocktrans %}
            </h3>
            <img class='slide_image' src='{{ MEDIA_URL }}{{ slide.image }}' alt='{% blocktrans with slide.alt_text as alt_text %}{{ alt_text }}{% endblocktrans %}'/>
        </li>
        {% endfor %}
    </ul>
    {% if not user.is_authenticated %}
    <div id='signup'>
        <button class='signup_button fade_open'>{% trans "Regístrate" %}</button>
    </div>
    {% endif %}
    <h2>{% trans "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
    </h2>
{% endblock %}
{% block secondary_content %}
    
{% endblock %}
