html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{ 
    text-decoration: none;
    color: #000;
}

button{ outline: 0; }

/* -------------------------------------------------------------------------- */
/* FONTS -------------------------------------------------------------------- */

@font-face{
    font-family: 'bold';
    src: url('../fonts/gotham/gotham-bold-webfont.eot?') format('eot'),
         url('../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
}

@font-face{
    font-family: 'book';
    src: url('../fonts/gotham/gotham-book-webfont.eot?') format('eot'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-book-webfont.svg#gotham-book-webfont') format('svg');
}


/* -------------------------------------------------------------------------- */

body{
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

section{ 
    overflow: hidden;
    width: 80%;
    max-width: 1600px;
    margin: auto; 
}

h2{
    font-family: 'book';
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
}

h5, h4, h3, h6{
    font-family: 'book';
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: left;
    margin-bottom: 3vh;
}

h3{ font-size: 1.3em; }

h4{ font-size: 1.2em; }

h6{ font-size: 1em; }

p{ text-align: left; }

hr{
    background-color: #3D3D3D;
    border-color: transparent;
    box-shadow: 0px 0px 0.9px 1px #3D3D3D;
    border-radius: 1px;
    height: 0.2vh;
    margin-bottom: 3vh;
}

label{
    font-family: 'bold';
    font-size: 1em;
    margin-right: 1vw;
    display: block;
}

textarea,
input{
    padding: 0.9vh;
    font-family: 'book';
    font-size: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #3D3D3D;
    margin-top: 0.8vh;
    margin-bottom: 2.5vh;
    width: 100%;
}

textarea{ height: 100px; }

button,
.button_link{
    border: none;
    border-radius: 5px;
    color: #EEEEEE;
    font-family: 'book';
    font-size: 1em;
    padding: 1.3vh 1.7vh;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: #3D3D3D;
    cursor: pointer;
}

button:hover,
.button_link:hover{
    color: #FFCC00;
}

form{
    margin-right: 5px;
    margin-top: 5vh;
}

/* HEADER menu ----------------------------------------------------------------- */

header{
    background-color: #362A10;
    width: 75%;
    max-width: 950px;
    margin: 4px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px #3D3D3D;
}

header ul,
footer ul,
#fade ul{
    text-align: center;
}

header ul li,
footer ul li{
    display: inline;
    font-family: 'bold';
    letter-spacing: 0.12em;
    margin-left: 3vw;
}


.header_link,
#dropdown{
    display: inline-block;
    text-transform: uppercase;
    color: #D3D7CF;
    margin: 1.6% 0.5%;
    padding: 0.8% 1.3%;
    border-radius: 4px;
    transition: 0.1s;
}

.header_link:hover{
    background-color: #FFC000;
    color: #3D3D3D;
}

#dropdown{
    margin: 0;
    padding: 0.1% 0.1%;
}

.header_logo{
    float: left;
    margin-top: 0.8%;
    margin-left: 1.6%;
}

#logout_form,
#logout_form_mobile{
    display: none;
}

.float_right{ float: right; }

.logo{
    display: inline;
    color: #FFF;
    text-align: left;
}

/* Footer ------------------------------------------------------------------- */
footer{
    background-color: #9B8F5F;
    height: 12vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 1px #3D3D3D;
}

footer ul{ margin-top: 3vh; }

.footer_link{
    font-family: 'book';
    letter-spacing: 1px;
}


/* -------------------------------------------------------------------------- */
/* Search box                                                                 */
/* -------------------------------------------------------------------------- */

.search_form{
    margin-left: 7%;
    display: inline; 
}

.search_form #search {
    width: 25vw;
    margin: 0 auto;
    border-radius: 3px;      
}

.search_form #search:focus {
    outline: 0; 
    box-shadow: 0 0 1px 1px #FFC000 inset;  
}

.search_form #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.search_form #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.search_form #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 
  
.search_form #submit{
    position: absolute;
    left: -9999px;
    height: 1px;
    width: 1px;
}


/* Pop up effect for LOGIN box ---------------------------------------------- */
#fade,
#welcome_message{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #FFF;
    border-radius: 4px;
    border: solid 2px #3D3D3D;
    width: 40vw;
    height: 38vh;
    display: block;
}

.popup_visible #fade,
.popup_visible #welcome_message{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sign_in{
    font-family: 'book';
    font-size: 1.2em;
    margin: 10px;
}

#linkedin_login_button,
#facebook_login_button,
#google_login_button,
#twitter_login_button{
    opacity: 0.8;
    transition: 0.2s;
    width: 60%;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #3D3D3D;
    padding: 8px 0 6px 0;
    margin: 12px 0 10px 0;
    display: inline-block;
    /* Chrome opacity elements bugfix */
    -webkit-backface-visibility: hidden;
}

#linkedin_login_button:hover,
#facebook_login_button:hover,
#google_login_button:hover,
#twitter_login_button:hover{ opacity: 1; transition: 0.2s; }

#linkedin_login_button{ background-color: #0274B3; }
.linkedin_login_img{ width: 30px; height: 30px; }

#facebook_login_button{ background-color: #3B579D; }
.facebook_login_img{ width: 17px; height: 30px; }

#google_login_button{ background-color: #DB4936; }
.google_login_img{ width: 34px; height: 30px; }

#twitter_login_button{ background-color: #5EA9DD; }
.twitter_login_img{ width: 37px; height: 30px; }


/* -------------------------------------------------------------------------- */
/* SECTIONS ----------------------------------------------------------------- */

#page{ 
    height: auto;
}

#main, #secondary{
    text-align: center;
}

.content{
    width: 75%;
    max-width: 900px;
    margin: auto;
}


h2.title_grey a,
h2.title_grey{
    font-family: 'bold';
    text-align: left;
    color: #3D3D3D;
    font-size: 1.4em;
}

h2.title_grey a:hover,
.footer_link:hover{
    text-decoration: underline;
}

h4.subtitle{
    font-family: 'bold';
    text-align: center;
    color: #3D3D3D;
}


/* App styles & Forms ------------------------------------------------------- */
.signup_button,
.form_button,
.form_button_big{
    background-color: #FFC000;
    color: #111111;
    border-radius: 5px;
    box-shadow: 0 0 5px #3D3D3D;
    padding: 2vh 5vw;
    text-align: center;
    font-family: 'bold';
    font-size: 2em;
    display: block;
    transition: 0.2s;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4vh;
}

.form_button{
    padding: 7px;
    font-size: 1em;
    float: right;
    width: 16%;
}

.form_button_big{
    padding: 10px;
    font-size: 1.2em;
    width: 35%;
}

.button{
    text-align: center;
    font-size: 1.2em;
    padding: 9px;
    margin-top: 5vh;
}


.signup_button:hover,
.form_button:hover,
.form_button_big:hover{
    background-color: #3D3D3D;
    transition: 0.2s;
    cursor: pointer;
    color: #FFC000;
}


#mobile_header_menu{ display: none; }

.left{ 
    text-align: left; 
    margin-bottom: 2vh;
}

.bold{ font-family: 'bold'; }
.book{ font-family: 'book'; }

h3.position{
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.position a:hover{ 
    border-bottom: 2px solid #000;
    transition: 0.1s; 
}

h4.position,
h5.position{
    margin-bottom: 1vh;
    margin-left: 2vw;
    text-align: left;
}

h4.position{ font-family: 'bold'; }

.input_radio{
    padding: 0.9vh;
    font-family: 'book';
    font-size: 1em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #3D3D3D;
    margin-top: 0.8vh;
    margin-bottom: 2.5vh;
    width: auto;
}


/* -------------------------------------------------------------------------- */
/* Media queries ------------------------------------------------------------ */

@media only screen and (max-width: 900px){
    header{ width: 90%; }
    section{ width: 100%; }
    header ul li,
    footer ul li{ margin-left: auto; }
    .label_box{ 
        width: 80%; 
        text-align: left;
    }
    .input_box{
        float: left;
        width: 100%;
    }
    #fade,
    #welcome_message{
        width: auto;
        height: auto;
    }
    #full_header_menu{ display: none; }
    #mobile_header_menu{ display: block; }
}

@media only screen and (max-width: 500px){
    section{ width: 90%; }
    header ul li,
    footer ul li{ 
        font-size: 0.7em; 
        margin-left: auto;
    }
    .header_link{
        margin: 3% 2%; 
    }
    h2, h3, h4{ font-size: 1em; }
    h2.title_grey{ font-size: 1.2em; }
    h5{ font-size: 0.9em; }
    hr{ height: 0.1vh; }
    .content{ width: 90%; }
    #fade, #welcome_message{ width: 90%; height: 60%; }
    .app_button, .form_button, .form_button_big{ font-size: 1em; }
}
