{% load i18n %}

<h3 style='margin-left: 1vw;'>
{% blocktrans with site.name as web %}
    Bienvenido a {{ web }}.
{% endblocktrans %}
</h3>
<h3 style='margin-left: 1vw;'>
{% blocktrans %}
    Bla, bla, bla...
{% endblocktrans %}
</h3>
